body {
    background: #E6E6E6;
}

.container {
    background: #fff;
    box-shadow: 0 0 50px #000;
    border-radius: 10px;
    height: 500px;
    text-align:center;
    width: 900px;
    padding: 5px;
    margin: 0 auto;
}


.layers {
    display: inline-block;
    height: 500px;
    vertical-align: top;
    width: 430px;
}

#map {
    box-shadow: 0 0 10px #000;
    border-radius: 10px;
}

#form {
    height: 250px;
    /* border: 1px solid #000;*/
}


#data {
    text-align: left;
    height: 220px;
    overflow: auto;
}

#locations {
    margin: 0;
    padding: 30px;
    list-style: none;
}

#locations li{
    color: #084b8A;
    font-family: Arial, sans-serif;
}
