<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>JMFierro - Práctica Back-end (U-Tad 2014) | {% block title %}Inicio{% endblock %}</title>

    <!-- --------------------------
      Estilos en la carpeta css
    ---------------------------- -->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/styles.css">

</head>

<body>
    <div id="header">
        <!-- -------------------------
        -
        -   Sistema de autentificación
        -
        ------------------------------->

         {% if user.is_authenticated %}
            <p>Autentificado: <b>{{ user.username }} | <a href ="{% url "logout" %}">Logout</a></b></p>
        {% else %}
            <p><a href ="{% url "login" %}">Login</a></p>
        {% endif%}
        <h1>JMFierro - Práctica Back-end (U-Tad 2014) </h1>
    </div>
    <div id="content">
        {% block content %}{% endblock %}
    </div>

    <!-- ---------------------
    -
    -   Sistema de navegación
    -
    -------------------------->
    <div id="navigation">
        <p><a href ="{% url "homepage" %}">Inicio</a>
            | <a href ="{% url "images_list" %}">Imagenes</a>
            | <a href="/register/">Registro</a></p>
    </div>


<!-- -------------------------------------------------------
 Carga de librerias al final para optimizar el rendimiento.
------------------------------------------------------------- -->
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- Dirección del fichero de javascript donde hace uso de jquery y maps -->
<script src="{{ STATIC_URL }}js/scripts.js"></script>

</body>
</html>