{% extends "base.html" %}
{% block title %} Login {% endblock %}
{% block content %}
        <h1>Login</h1>
        {% if message %}
            <b>{{message}}</b>
        {% endif %}
        <form action="" method="post"> {% csrf_token %}
            {{ form.as_p }}
        <input type="submit" value="login" />
        </form>
{% endblock %}

