{% extends "base.html" %}
{% block title %}Imagen detalle{% endblock %}
{% block content %}
    <p><a href="{% url "image_edit" image.id %}">Editar imagen</a></p>
    <h2>Detalle de la imagen</h2>
        <p><b>Titulo:</b> {{ image.title }}</p>
        <p><b>Url:</b> {{ image.url }}</p>
        <p><b>Descripción:</b> {{ image.description }}</p>
        <p><b>lat:</b> {{ image.lat }}</p>
        <p><b>lng:</b> {{ image.lng }}</p>
        <p><b>Creada:</b> {{ image.date_creation|date:"D, d/m/Y"  }}</p>
        <p><b>Actualizada:</b> {{ image.date_update|date:"D, d/m/Y"  }}</p>
        <p><b>Pública:</b> {{ image.is_public }}</p>

{% endblock %}


