{% extends "base.html" %}
{% block title %}Imagenes{% endblock %}
{% block content %}
     <p><a href="{% url "image_create" %}">Crear imagen</a></p>
     <h2>Lista de imagenes PÚBLICAS:</h2>
        {% csrf_token %}
    {% for image in images %}


        <!-- -----------------------------------------------------------
           url "image_detail" hace referencia a 'name' de 'urlpatterns'
           en 'urls.py', permite no usar rutas absolutas.
           ------------------------------------------------------------- -->
        {% if image.is_public %}

        <p>
            <li>
                 {{ image.title }},
                <a href>{{ image.url }}</a>,
                <a>Username: {{ image.username }}</a>,
                </a>Is public:{{ image.is_public }}</a>
                (<a href="{% url "image_detail" image.id %}">ver</a>)
            </li>

        </p>

        {% endif %}

    {% endfor %}


    {% if user.is_authenticated %}
            <h2>Lista de imagenes NO PÚBLICAS (usuario {{ user.username }}):</h2>
            {% for image in images %}
                {% if not image.is_public %}
               <p>
                    <li>
                         {{ image.title }},
                        <a href>{{ image.url }}</a>,
                        <a>Username: {{ image.username }}</a>,
                        </a>Is public:{{ image.is_public }}</a>
                        (<a href="{% url "image_detail" image.id %}">ver</a>)
                    </li>

                </p>
                {% endif %}

            {% endfor %}
    {% endif%}


{% endblock %}


