{% extends "base.html" %}
{% block title %}Editar datos imagen{% endblock %}
{% block content %}
      <!-- -----------------------------------------------------
       La base de datos (Django) se guardara utilizando
       la url indicada por action="/.."
       (hay que crearla en url.py)

       -> id="fo..." este id se utiliza en 'scripts.js'
       para guardar el formulario en la base de datos django.
    <form action="coords/save" method="post" id="form_coords">
      -------------------------------------------------------  -->
    <form action="" method="post">
        {% csrf_token %}  <!-- protección de ataques -->
            {% include "forms.html" %}
        <input type="submit" value="Guardar" />
    </form>
{% endblock %}
